@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Montserrat-VariableFont_wght"),
  url("/Users/envereneskeskin/Documents/pulsar/pulsar-web/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
  ;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css or styles.css */

.headerBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-size: 100% 100%;
  background-image: url('/images/bg-we.jpg');
}

