@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bricolage_Grotesque';
  src: url('./fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Bricolage_Grotesque', Arial, Helvetica, sans-serif;
}

.headerBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-size: 100% 100%;
  background-image: url('/images/bg-we.jpg');
}

.nav-links {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (min-width: 1024px) {
  .nav-links {
    max-height: none;
    opacity: 1;
  }
}
